exportPattern(".*")
S3method(">=", "id")
S3method("*", "id")
S3method("*", "lincomb")
S3method("*", "lincomblist")
S3method("sum", "id")
S3method(">=", "lincomb")
S3method("==", "lincomb")
S3method(">=", "lincomblist")
S3method("sum", "lincomblist")
S3method("+", "lincomb")
S3method("[", "id")
S3method("print", "variable")
S3method("print", "constraint")
import(quadprog)
import(lpSolveAPI)
importFrom("utils", "str")
